* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-family: 'Montserrat';
}

header {
    background-image: linear-gradient(to right, black, purple);
    color: white;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    outline: 5px solid rgb(50, 105, 161);
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
}

header nav ul li a.current {
    color: rgba(255, 255, 255, 0.525);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

main h1 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

main p {
    line-height: 1.6;
    text-align: left;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#agricultural-article,
#industrial-article,
#digital-article,
#submit, #start-quiz,
#start-game {
    background-color: rgba(74, 26, 157, 0.95);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agricultural-article:hover,
#industrial-article:hover,
#digital-article:hover,
#submit:hover, #start-quiz:hover,
#start-game:hover {
    background-color: rgba(74, 26, 157, 0.50);
}

#name,
#email,
#age {
    border-radius: 4px;
}